@import "./them.scss";
body{
    overflow: auto;
}
.icontaosvg:before {
    color: #d4237a;
    font-size: $iconSize;
}
.iconwensvg:before {
    color: #1296db;
    font-size: $iconSize;
}
.iconqiansvg:before {
    color: #1afa29;
    font-size: $iconSize;
}
.iconfangsvg:before {
    color: #21D9FF;
    font-size: $iconSize;
}
.iconkongsvg:before {
    color: red;
    font-size: $iconSize;
}
.icondusvg:before {
    color: #00B188;
    font-size: $iconSize;
}
.iconhuangsvg:before {
    color: yellow;
    font-size: $iconSize;
}